
<div id="latex-macros" style="display:none">

$$
\newcommand{\N}{\mathbb{N}}
\newcommand{\R}{\mathbb{R}}
\newcommand{\C}{\mathbb{C}}
\newcommand{\Q}{\mathbb{Q}}
\newcommand{\P}{\mathbb{P}}
\newcommand{\Z}{\mathbb{Z}}
\newcommand{\V}{\mathbb{V}}
\newcommand{\E}{\mathbb{E}}
\newcommand{\A}{\mathbb{A}}
\newcommand{\F}{\mathbb{F}}

\newcommand{\L}{\mathcal{L}}

\newcommand{\sgn}{\mathrm{sgn}}


\newcommand{\brac}[1]{\left ( #1 \right)}
\newcommand{\set}[1]{\left \{ #1 \right \}}
\newcommand{\st}{\, \mid \,}
\newcommand{\wh}{\,|\,}
\newcommand{\abrac}[1]{\left \langle #1 \right \rangle}
\newcommand{\sqbrac}[1]{\left [ #1 \right]}
$$

</div>
